<ion-view view-title="Trending">
  <ion-content>
    <div collection-repeat="item in items" item-width="25%" style="padding:0px;" class="col col-25">
    <a ng-href="#">
      <div style="background-image:url({{item.images.fixed_height.url}});

        background-size:contain;
        width:100%;
        height:0;
        padding-top:100%">
      </div>
    </a>
  </div>
  <ion-infinite-scroll on-infinite="loadMore()" distance="5%" zooming="true"></ion-infinite-scroll>
</ion-content>
</ion-view>
